<div class="container padding-top-20 padding-bottom-20">
  <div class="row justify-content-center">
    <div class="col-lg-9 col-md-12 col-sm-12 card-col">
        <div class="col-inner">
            <div class="card card-height-auto border-radius-20 box-shadow">
                <div class="card-body left space-around-50 jysk-text">
                  <h1 class="jysk-h1 samarbejdspartnere margin-bottom-20">Samarbejdspartnere</h1>
                  <p>
                    Horsens Serviceudlejning har flere samarbejdspartnere, der alle kan hjælpe til med at gøre Deres fest perfekt! Vi er altid interesserede i nye samarbejdspartnere, så kontakt os hvis du har et firma som vores kunder kunne have interesse i at kende.
                  </p>
                
                </div>
            </div>  
        </div>
    </div>
  </div>
</div>
<div class="fill-container-200"></div>
    