<div class="container padding-top-20 padding-bottom-20">
  <div class="row justify-content-center">
    <div class="col-md-9 card-col">
        <div class="col-inner">
            <div class="card card-height-auto border-radius-20 box-shadow">
                <div class="card-body left space-around-50 jysk-text">
                  <h1 class="jysk-h1 margin-bottom-20">Samarbejdspartnere</h1>
                  <p>
                      Jysk Serviceudlejning har afdelinger flere steder i Jylland. Vælg din nærmeste afdeling nedenfor.
                  </p>
                  <p>
                      Skanderborg
                  </p>
                  <p>
                      Horsens
                  </p>
                  <p>
                      Århus
                  </p>                 
                </div>
            </div>  
        </div>     
    </div>
  </div>
</div>
<div class="fill-container-100"></div>
    