<div class="container text-center logo-container height-111">
  <a routerLink="/home">
    <img class="img-fluid" src="../../assets/img/jysk-header.png" alt="Jysk Serviceudlening Header">
  </a>
</div>
<!-- <hr class="margin no-margin"> -->
<nav class="navbar navbar-expand-lg navbar-dark-blue navbar-light">
  <button class="navbar-toggler ml-auto" (click)="toggleCollapse()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="show" id="navbarSupportedContent">
    <div class="d-flex fill-width bar" [class.shownBar]="show">
      <ul class="navbar-nav small-links">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" (click)="toggleHide()" routerLinkActive="active">Forside</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bestilling" (click)="toggleHide()" routerLinkActive="active">Bestilling</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inspiration" (click)="toggleHide()" routerLinkActive="active">Inspiration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lejebetingelser" (click)="toggleHide()" routerLinkActive="active">Lejebetingelser</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/samarbejdspartnere" (click)="toggleHide()" routerLinkActive="active">Samarbejdspartnere</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/om-os" (click)="toggleHide()" routerLinkActive="active">Om os</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/kontakt" (click)="toggleHide()" routerLinkActive="active">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr class="margin no-margin">
