@import "../../sass/variables.scss";


//Header
.navbar-dark-blue {
    .nav-link {
        font-family: 'Poppins';
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: bold; 
        text-transform: uppercase;
        color: black;
        &:hover {
            color: $light-brand-color;
            border-bottom: 2px solid $light-brand-color;

        }
        &.active {
            color: $light-brand-color;
            border-bottom: 2px solid $light-brand-color;
        }
    }
}

.logo-container {
    padding-top: 30px;
    padding-bottom: 30px;
}