//Header
.navbar-dark-blue {
    .nav-link {
        font-size: 12px;
        font-weight: bold; 
        text-transform: uppercase;
        color: black;
        &:hover {
            color: darkblue;
            border-bottom: 2px solid blue;
        }
        &.active {
            color: darkblue;
            border-bottom: 2px solid blue;
        }
    }
}