<footer class="site-footer align-middle">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 text-center margin-bottom-20">
        <a href="tel:30256647" class="footer-linking">
          <i class="fa fa-phone footer-icon"></i>
          <p>Tlf: 30256647</p>
        </a>
      </div>
      <div class="col-sm-12 col-md-4 text-center margin-bottom-20">
        <a href="mailto:jens@jyskserviceudlejning.dk" class="footer-linking">
          <i class="fa fa-envelope-open-o footer-icon"></i>
          <p>Jens@jyskserviceudlejning.dk</p>
        </a>
      </div>
      <div class="col-sm-12 col-md-4 text-center">
        <a href="https://www.google.dk/maps/place/Bragesvej+6,+8660+Skanderborg/" target="_blank" class="footer-linking">
          <i class="fa fa-map-marker footer-icon"></i>
          <p>Bragesvej 6, 8660 Skanderborg (Stilling/Gram)</p>
        </a>
      </div>
    </div>
    <div class="row margin-top-50">
      <div class="col-sm text-center">
        <p>Jyskserviceudlejning © Copyright - 2018 - Alle rettigheder forbeholdes - Hjemmesiden er udarbejdet af RedBird Solutions (oestjacobsen93@gmail.com)</p>
      </div>
    </div>
  </div>
</footer>