
//Colors
$primary-bg-color: aliceblue;
$primary-brand-color: #070853;
$secondary-brand-color: #1417EC;
$light-brand-color: #0652fd;
$footer-background-color: #0d0f10;



$site-border: 150px;
$split-size: 30px;
$site-max-width: 800px;
