// src/sass/styles.scss

@import './variables';
@import './mixins';
@import './jysk-styles';

.site-background {
    background-color: $primary-bg-color;
}


.padding {
    &-3 {
        padding: 3px !important;
    }
    &-5 {
        padding: 5px !important;
    }
    &-10 {
        padding: 10px;
    }
    &-20 {
        padding: 20px;
    }
    &-25 {
        padding: 25px;
    }
    &-30{
        padding: 30px;
    }
    &-40{
        padding: 40px;
    }
    &-50{
        padding: 50px !important;
    }

    &.no-padding {
        padding: 0px !important;
    }
    &-top {
        &-5 {
            padding-top: 5px !important;
        }
        &-10 {
            padding-top: 10px !important;
        }
        &-20 {
            padding-top: 20px;
        }
        &-50 {
            padding-top: 50px;
        }
        &-60 {
            padding-top: 60px;
        }
    }
    &-bottom {
        &-5 {
            padding-bottom: 5px !important;
        }
        &-10 {
            padding-bottom: 10px;
        }
        &-20 {
            padding-bottom: 20px;
        }
        &-50 {
            padding-bottom: 50px;
        }
        &-60 {
            padding-bottom: 60px;
        }
        &-70 {
            padding-bottom: 70px;
        }
        &-100 {
            padding-bottom: 100px;
        }
    }
    &-left {
        &-5 {
            padding-left: 5px;
        }
        &-15 {
            padding-left: 15px;
        }
    }
}

.margin {
    &.no-margin {
        margin: 0px;
    }
    &-10 {
        margin: 10px;
    }
    &-20 {
        margin: 20px;
    }
    &-30 {
        margin: 30px;
    }
    &-40 {
        margin: 40px;
    }
    &-50 {
        margin: 50px;
    }
    &-top {
        &-10 {
            margin-top: 10px;
        }
        &-20 {
            margin-top: 20px;
        }
        &-30 {
            margin-top: 30px;
        }
        &-40 {
            margin-top: 40px;
        }
        &-50 {
            margin-top: 50px;
        }
        &-60 {
            margin-top: 60px;
        }
        &-100 {
            margin-top: 100px;
        }
    }
    &-bottom {
        &-10 {
            margin-bottom: 10px;
        }
        &-20 {
            margin-bottom: 20px;
        }
        &-30 {
            margin-bottom: 30px;
        }
        &-50 {
            margin-bottom: 50px;
        }
        &-60 {
            margin-bottom: 60px;
        }
        &-70 {
            margin-bottom: 70px;
        }
        &-80 {
            margin-bottom: 80px;
        }
        &-100 {
            margin-bottom: 100px;
        }
    }
    &-left {
        &-10 {
            margin-left: 10px;
        }
        &-20 {
            margin-left: 20px;
        }
        &-30 {
            margin-left: 30px;
        }
        &-50 {
            margin-left: 50px;
        }
        &-60 {
            margin-left: 60px;
        }
        &-70 {
            margin-left: 70px;
        }
        &-80 {
            margin-left: 80px;
        }
        &-100 {
            margin-left: 100px;
        }
    }
}

.border-radius {
    &-20 {
        border-radius: 20px;
    }
}

.fill {
    &-width {
        width: 100%;
        &-90 {
            width: 90%;
        }
    }
    &-height {
        height: 100%;
    }
}


.site-container {
    max-width: $site-max-width;
}

.box-shadow {
    box-shadow: 2px 2px 2px #808080
}

.alert-fit-content {
    padding: 10px !important;
    margin: 0px !important;
}

.fill-container {
    min-height: 500px;
    &-100 {
        min-height: 100px;
    }
    &-200 {
        min-height: 200px;
    }
}

.button-container {
    & .btn {
        text-transform: uppercase;
        border-radius: 50px;
        &.btn-primary {
            color:white;
            background-color: #0652FD;
            border: 2px solid #0652FD;
            &:hover {
                background-color: white;
                color: black;
            }
            &.btn-sticky {
                font-size: 14px;
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    box-shadow: 4px 4px 4px #808080
                }
            }
        }
        &.btn-ghost {
            color: black;
            background-color: white;
            border: 2px solid#0652FD;
            &:hover {
                background-color: #0652FD;
                color: white;
            }
        }
        &.btn-lg {
            width: 300px;
            height: 60px;
        }
        &.btn-md {
            width: 100%;
            max-width: 200px;
            height: 60px;
        }
        
        & .fa {
            padding-left: 5px;
        }
    }    
}

.border-radius {
    &-20 {
        border-radius: 20px !important;
    }
}

.no-border {
    border: none !important;
}


// .col-spacing {
//     &-10 {
//         padding: 0 10px 0 10px !important;
//     }
// }

.height {
    &-100 {
        height: 100px;
    }
    &-500 {
        height: 500px;
    }
    &-550 {
        height: 550px;
    }
}

.section-splitter {
    text-align: center;
    border-bottom: 0.25rem solid #c1c5ca; 
    width: 1200px;
}

.body-background {
    background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Merriweather !important;
}

h5 {
    line-height: 40px !important;
}

//forms


input.ng-valid.ng-touched  {
    border-left: 5px solid #42A948; /* green */
}

input.ng-invalid.ng-touched  {
    border-left: 5px solid #a94442; /* red */
}

.invalid-feedback {
    display: inline-block !important;
}




.card-title {
    border-bottom: solid darkgray 2px;
    margin-bottom: 5px;
}

.card-body {
    text-align: center !important;
    padding: 20px 20px 0px 20px;
    &.left {
        text-align: left !important;
    }
}

.align-text {
    &-right {
        text-align: right;
    }
    &-left {
        text-align: left;
    }
    &-center {
        text-align: center;
    }
}

.image-orientation {
    image-orientation: from-image;
}

.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 3000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 3000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(360deg);
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}