// src/sass/styles.scss

@import './variables';
@import './mixins';

.site-background {
    background-color: $primary-bg-color;
}


.padding {
    &-10{
        padding: 10px;
    }

    &.no-padding {
        padding: 0px;
    }
}

.margin {
    &.no-margin {
        margin: 0px;
    }
    &-top {
        &-10 {
            margin-top: 10px;
        }
        &-20 {
            margin-top: 20px;
        }
        &-50 {
            margin-top: 50px;
        }
    }
    &-bottom {
        &-10 {
            margin-bottom: 10px;
        }
        &-20 {
            margin-bottom: 20px;
        }
        &-50 {
            margin-bottom: 50px;
        }
    }
}

.fill {
    &-width {
        width: 100%;
    }
    &-height {
        height: 100%;
    }
}


.site-container {
    max-width: $site-max-width;
}

.box-shadow {
    box-shadow: 2px 2px 2px #808080
}