// src/sass/styles.scss

@import './variables';
@import './mixins';

.site-background {
    background-color: $primary-bg-color;
}


.padding {
    &-10{
        padding: 10px;
    }

    &.no-padding {
        padding: 0px;
    }
}

.margin {
    &.no-margin {
        margin: 0px;
    }
    &-top {
        &-50 {
            margin-top: 50px;
        }
    }
}

.fill {
    &-width {
        width: 100%;
    }
    &-height {
        height: 100%;
    }
}



.site-container {
    max-width: $site-max-width;
}
