<header class="site-landing">
    <div class="container landing-container">
        <div class="row">
            <div class="col-lg-6 col-md-12 landing-background">
                <h1 class="landing-header">Lej til gæsten</h1>
                <h1 class="landing-header">- Vi har alt til festen</h1>
            </div>
        </div>
    </div>
</header>
<section class="break-line-info">
    <div class="container showcase-container">
        <div class="row justify-content-center">
            <div class="col showcase-text">
                <p class="">
                    Jysk Serviceudlejning udlejer borde, stole, hvidt porcelæn, stort udvalg af glas, candyfloss, popcorn maskine, termokander, karafler, duge, chokoladefontæne, pandekage og Crepepander, bryllupskageopsats, stofduge/-servietter, ismaskine, kaffemaskine, slushicemaskine, mm. Klik herfor at se det store udvalg. Du er altid velkommen til at kontakte os på mail eller telefon.
                </p>
                <p class="">
                    Skanderborg, Århus & Østjylland: <br>Jens@jyskserviceudlejning.dk eller tlf. 30256647
                </p>
                <div class="col-12 text-center">
                    <button class="btn btn-call-to-action">Se Vores Sortiment</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="row margin-top-10 margin-bottom-10 justify-content-center">
        <div class="card">
            <img class="card-img-top" src="./assets/pandekagepande.jpg" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Tilbehør</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/candyfloss-1-300x225.jpg" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Ekstra til festen</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="./assets/cutlery.jpg" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Service</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/Borde76x180cm.bmp" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Stole & Borde</h5>
            </div>
        </div>
            
            <!-- <div class="col-md-6 col-sm-12 showcase-image showcase-1"></div>
        <div class="col-md-6 col-sm-12 showcase-image showcase-2"></div>
        <div class="col-md-6 col-sm-12 showcase-image showcase-3"></div>
        <div class="col-md-6 col-sm-12 showcase-image showcase-4"></div> -->
    </div>
</div>
