@import "../../sass/variables.scss";

.site-landing {
    background: url(./assets/cutlery.jpg) no-repeat center center;
    background-size: cover;
    padding: 150px 0px;
    //height: 600px;
}

.landing-container {
    max-width: 1000px;
}

.landing-header {
    font-weight: bold;
    color: white;
}

.landing-text {
    color: white; 
}


.showcase-text > p {
    font-size: 16px;
    color: rgba(0,0,0,0.8);
}

.showcase-container {
    margin-top: $split-size;
}

.landing-background {
    margin-left: 100px;
    background-color: rgba($color: $primary-brand-color, $alpha: 0.85);
    max-width: 420px;
    padding: 15px;
    @media screen and (max-width: 640px) {
        margin-left: 0px;
        max-width: 640px;
    }
    h1 {
        @media screen and (max-width: 375px) {
            font-size: 36px;
        }
        @media screen and (max-width: 320px) {
            font-size: 30px;
        }
    }
}

.break-line-info {
    background-color: white;
    height: 400px;
}

.btn.btn-call-to-action {
    max-width: 350px;
    height: 75px;
    border-radius: 40px;
    font-size: 24px;
    background-color: $primary-brand-color;
    color: white;
    &:hover {
        background-color: $light-brand-color;
    }
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card {
    margin: 5px;
    width: 18rem;
    // min-height: 250px;
}

.showcase-image {
    background-size: cover;
    height: 300px;
    max-width: 300px;
    // box-shadow: 0 5px 5px 0 #adb5bd;
    // border-radius: 50% !important;
    // margin: 25px;


    &.showcase-1 {
        background: url(./assets/pandekagepande.jpg) no-repeat center center;
    }
    &.showcase-2 {
        background: url(./assets/candyfloss-1-300x225.jpg) no-repeat center center;
    }
    &.showcase-3 {
        background: url(./assets/SlushIcemaskine-1-225x300.jpg) no-repeat center center;
    }
    &.showcase-4 {
        background: url(./assets/Borde76x180cm.bmp) no-repeat center center;
    }
}

