<ng-template #content let-modal>
  <div class="modal-header" style="padding-left: 30px;">
    <h4 class="modal-title" id="modal-basic-title">Din Bestilling</h4>
    <button type="button" class="close" tabindex="-1" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Efter tryk på <em>bestil</em> vil du snarest blive kontaktet af os med et tilbud</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <p><strong>Ordre</strong></p>
          <div class="list-group" *ngIf="getOrderAmount() != 0;else noProductsWarning">
            <div class="list-group-item" *ngFor="let produkt of produkter ; index as p">
              <div class="row" style="align-items: center;">
                <div class="col-4 col-md-3">
                    <input type="number" class="form-control" [value]="produkt.antal" (blur)="changeProductAmount(produkt, productAmount.value)" #productAmount>
                </div>
                <div class="col-8 col-md-9">{{produkt.navn}}</div>
                <!-- <div class="col-2 text-right" (click)="removeProduct(produkt)"><i class="fa fa-times-circle remove-product-icon"></i></div> -->
              </div>
            </div>
          </div>
          <ng-template #noProductsWarning>
            <div class="invalid-feedback text-center">Du har endnu ikke tilføjet nogen produkter til kurven</div>
          </ng-template>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <app-bestillings-modal-form (mailFormSubmitted)="closeModal($event)" [disabledOrderButton]="getOrderAmount().length == 0"></app-bestillings-modal-form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div class="button-container text-center" *ngIf="!shoppingBasket;else shoppingBasketMenu">
  <button class="btn btn-primary btn-md btn-sticky" (click)="open(content)"><i class="fa fa-shopping-basket shopping-basket" [@bounce]="bounce"></i> ({{getOrderAmount()}})</button>
</div>
<ng-template #shoppingBasketMenu>
  <div class="button-container text-center shopping-basket-menu-container" [style.left]="basketLeftMargin" [style.top]="basketTopMargin">
    <button class="btn btn-primary" (click)="open(content)"><i class="fa fa-shopping-basket shopping-basket"></i> ({{getOrderAmount()}}) <span style="width:1px;"></span></button>
  </div>
</ng-template>
