@import 'src/sass/variables';

.remove-product-icon {
    font-size:  24px;
    &:hover {
        color: $secondary-brand-color;
    }
}

.list-group-item {
    padding: 8px 8px 8px 8px;
}

.shopping-basket {
    font-size: 20px;
}

.shopping-basket-menu-container {
    position: absolute;
    top: 115px;
    left: 100px;
    .btn {
        width: 90px;
    }
}

.p-left-30 {
    padding-left: 30px;
}

.a-center {
    align-items: center;
}

.w-1 {
    width: 1px;
}