<div class="container padding-top-20 padding-bottom-20">
    <div class="row justify-content-center">
      <div class="col-md-9 card-col">
          <div class="col-inner">
              <div class="card card-height-auto border-radius-20 box-shadow">
                  <div class="card-body left space-around-50 jysk-text">
                    <h1 class="jysk-h1 margin-bottom-20">Kontakt os</h1>
                    <p>
                        Skanderborg Serviceudlejning har afdelinger i Skanderborg, Århus og Horsens og leverer til kunder i hele Jylland. En stor del af vores kunder kommer fra hele Østjylland og primært Århus, Skanderborg, Vejle og Horsens.
                    </p>

                    <p>
                        De kan kontakte os via nedenstående på nedenstående oplysninger. I hverdagene kan det være en fordel at kontakte os via mail, hvorefter vi vil besvare din henvendelse hurtigst muligt enten via mail eller pr. telefon.
                    </p>

                    <p>
                      <strong>
                        Afdeling Østjylland:
                      </strong>
                      <br>
                      Bragesvej 6
                      <br>
                      8660 Skanderborg (Stilling/Gram)
                      <br>
                      <a href="tel:30256647">Tlf: 30256647</a>
                      <br>
                      <a [href]="getMailSender() | async">{{getMail() | async}}</a>
                    </p>

                    <p>
                        Ring eller skriv til os på Skanderborg Serviceudlejning for eventuelle spørgsmål, så finder vi en løsning sammen.
                    </p>

                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
