<div class="container padding-top-20 padding-bottom-20">
    <div class="row justify-content-center">
      <div class="col-md-9 card-col">
          <div class="col-inner">
              <div class="card card-height-auto border-radius-20 box-shadow">
                  <div class="card-body left space-around-50 jysk-text">
                    <h1 class="jysk-h1 margin-bottom-20">Inspiration til en god fest</h1>
                  
                    <p>
                        Når du lejer hos Horsens Serviceudlejning er du sikker på at det praktiske er i orden, men du har selv ansvaret for at festen bliver en succes.
                    </p>

                    <hr class="margin-top-30 margin-bottom-30">
                    <h1 class="jysk-h1-secondary"><strong>Før festen!</strong></h1>
                    
                    <h2 class="">Fest ude eller hjemme?</h2>
                    <p>
                        Når man skal afgøre, om festen skal holdes ude eller hjemme, er der flere ting, man skal være opmærksom på. Det er ofte komfortabelt, at holde en fest ude, fordi stort set alt det praktiske er inkluderet i prisen. Omvendt bliver prisen meget mere spiselig, når man selv står for det praktiske. Det kan i mange tilfælde godt betale sig, at holde festen hjemme eller i lejede lokaler. Dels fordi leje af service, borde og stole er overkommeligt; og dels fordi man selv kan købe mad og vin til detailpriser – og skulle der blive mad og vin til overs efter festen, så er det en ekstra bonus, at fryseren kan fyldes op.                    
                    </p>

                    <h2 class="margin-top-20">Festlokalet</h2>
                    <p>
                        Det helt afgørende er selvfølgelig, om det lokale, man har til rådighed, kan rumme det antal gæster, man gerne vil invitere med til festen. Måske skal der justeres på antallet af gæster. Eller måske skal festen flyttes til et større lokale. En fest bliver kun vellykket, hvis der er harmoni i tingene. Det er en pine, at være gæst et sted, hvor man sidder indeklemt og uden plads til at bevæge armene under spisning. Når man lejer både borde og ens stole hos Horsens Serviceudlejning, er man altid sikker på, at højden mellem bord og stol passer sammen. De fleste har prøvet, at sidde ved et bord, hvor der er anvendt forskellige typer lånte stole. Det kan være lidt komisk, hvis bordherren sidder meget lavere end sin borddame, eller omvendt. Det går også galt, hvis stolene er bredere end den kuvertplads der er til rådighed. Specielt hvis bordene står i forlængelse af hinanden, kan det ende med, at stolene på et tidspunkt står mellem to kuverter.
                    </p>

                    <h2 class="margin-top-20">Bordopstilling</h2>
                    <p>
                      Mål lokalet op og lav en tegning. Begynd med at placere bordene, som måler 76 x 180 cm. Der kan sidde 3 gæster på hver side og en ved hver bordende – altså maksimalt 8 gæster, når bordet står frit. For at sikre tilstrækkelig plads, så gæsterne kan rejse sig og forlade bordet, bør man prøve at overholde følgende vejledende afstandsregler:
                    </p>
                    <ul>
                      <li>
                        Afstand mellem væg og bordkant: 60 cm (85 cm hvis der er serveringspersonale)
                      </li>
                      <li>                              
                        Afstand mellem de enkelte borde: 120 cm
                      </li>
                    </ul>
                    
                    

                    <h2 class="margin-top-20">Bordplan</h2>
                    <p>
                      Når borde og stole er placeret, kan man komme videre med bordplanen. 
                      Bordherren sidder altid til venstre for borddamen. Hvis man har svært ved at huske det, så er her en god måde, at huske det på: En herreskjorte har knapperne i højre side, og en dameskjorte har dem i venstre side. Derfor kan bordherren og borddamen sidde og kigge ind under hinandens skjorter.
                    </p>

                    <h2 class="margin-top-20">Borddækning</h2>
                    <p>
                        Når man skal i gang med borddækningen, kan man med fordel anvende Horsens Serviceudlejnings bestillingsblanket her på hjemmesiden. Her er det nemlig muligt, at se fotos af de enkelte ting, man kan leje til festen.
                    </p>


                    <hr class="margin-top-30 margin-bottom-30">
                    <h1 class="jysk-h1-secondary"><strong>Selve festen!</strong></h1>

                    <h2>Toastmaster?</h2>
                    <p>
                        Mange forsømmer brug af en toastmaster til fester. Værterne kan sagtens undvære en toastmaster, hvis de vel at mærke selv styrer festen. For en god fest skal styres. Gerne på en humoristisk måde. 
                        En fest uden styring er synd for alle. Det giver forvirring og måske brænder gæsterne inde med festlige indslag til stor ærgrelse ikke mindst for dem selv. Med en toastmaster får man signaleret, at man meget gerne vil have festlige indslag, og sidst men ikke mindst får man sat dem i gang i tide på en systematisk måde. Festen bliver ikke ”finere” eller ”stivere” af den grund. 
                        Vælg toastmasteren flere måneder i forvejen, så vedkommende kan forberede sig. ”Udnævn” aldrig en toastmaster i minutterne inden det går løs. Det er dømt til fiasko.                         
                    </p>
                    
                    <h2 class="margin-top-20">Bed om information</h2>
                    <p>
                        Bliver du bedt om at være toastmaster, så få indflydelse på, hvor du skal sidde. Det er vigtigt at toastmasteren har udsyn til hele selskabet, så det er let at følge med i hvad der sker.
                        Bed også om en gæsteliste, hvor værterne skriver lidt om hver enkelt gæst og markerer hvem der eventuelt kunne finde på at sige et par bevingede ord, komme med en sang etc. Så kan du forberede små vittigheder til introduktionen af hver enkelt taler.
                        Spørg også til festens program. Er der servering eller buffet? Menu? Musik? Køkkenpersonale? Skal der udnævnes bordformænd? Får man kaffen i andre lokaler? Hvis der ikke er tænkt på disse ting, er det måske på tide, at det bliver gjort..                        
                    </p>
                    
                    <h2 class="margin-top-20">Toastmasterens rolle</h2>
                    <p>
                        Vær synlig ved festens begyndelse. Hvis du ikke kender gæsterne så godt, kan du stå i nærheden af værterne og følge gæsternes ankomst. Mange har også et hjerteformet stykke toast i knaphullet. Endelig kan man markere på bordplanen hvem der er toastmaster og hvor han eller hun er placeret.
                        Alt hvad toastmasteren siger, skal være kort og præcist. Gæsterne må ikke sidde med følelsen af, at have kedet sig. Husk at det er rollen du skal udfylde for at få festen til at glide. Det er ikke dig som person der skal frem. Et lille grin får altid aftenen til at glide!
                        Udstyr som en klokke eller andet, er en god idé, som kan lokke smilene frem.                        
                    </p>
                    
                    <h2 class="margin-top-20">Køkkenpersonalet</h2>
                    <p>
                        Sørg for at få en god allieret i køkkenet, som medspiller. Det er vigtigt at maden, som jo er det centrale, serveres varm og at den kan nydes uden alt for mange afbrydelser. En gylden regel er, at ingen talere kommer til før alle gæster har nydt første omgang af hovedretten.     
                    </p>
                    
                    <h2 class="margin-top-20">Når det går løs</h2>
                    <p>
                        Læg stilen fra starten. Her har toastmasteren virkelig mulighed for at præge aftenens videre forløb. Et godt grin lige fra start er en god måde at bryde isen og slå hul på festen. 
                        Husk at du bare skal være dig selv. Du er jo også inviteret som gæst – ikke som professionel toastmaster. Hvis du bare er dig selv, så kan det ikke gå galt.
                        Som regel byder værterne velkommen og giver ordet videre til toastmasteren. Sker det ikke, må du selv åbne ballet.
                        Fortæl om aftenens program og eventuelt også menuen. En opfordring til at tilmelde sig talerækken er også en god idé, for der er altid nogle, som foretrækker at drikke sig lidt mod til. Kan du få dem på listen er du godt hjulpet, for det griber altid forstyrrende ind når disse spontane talere tilmelder sig alt for sent i forløbet.
                        Du vil nok opleve at de fleste beder om at komme på til sidst. Lov dem at du forsøger – men det er dig der bestemmer, godt hjulpet af de gyldne regler for talerækken.                            
                    </p>
                    
                    <h2 class="margin-top-20">Talerækken</h2>
                    <p>
                        Hver fest har sin talerække. Betragt festsange som taler. Kun toastmasteren kan vælge at bryde rækkefølgen, hvis det skønnes nødvendigt.
                    </p>
                    
                    <h2 class="margin-top-20">Buffet</h2>
                    <p>
                        Man kan på forhånd udnævne bordformænd og lave en konkurrence mellem dem. Vinderens bord får så lov til at gå først op til buffeten. Alternativt kan man bare sige at bord 1 går først, derefter bord 2 etc. Når folk går til det store tag-selv-bord, kan toastmasteren let miste styringen. En buffet nærmer sig anarki for en toastmaster, fordi alle går op og forsyner sig i eget tempo. Lav et signal på en xylofon eller andet og fortæl gæsterne, at der sker noget to minutter efter signalet har lydt. Så har de tid til at fylde på tallerkenen og sætte sig til bords. Gør de det ikke, ja så har de fået chancen. Så gå bare videre og sæt det næste indslag i gang. Programmet skal holdes.
                        Til bryllupper, hvor bordopstillingen er som ét stort bord med forgreninger, kan man for sjov udnævne en der kan tage en spøg til bordformand. Festens eneste. Vedkommende skal bare tage tallerkener ud fra bordet, sørge for vin og så videre.                             
                    </p>
                    
                    <h2 class="margin-top-20">Afrunding</h2>
                    <p>
                        Hvis man har lyst og evner, kan man afrunde med et par ord om hvert indslag. Til runde fødselsdage og lignende er det ofte fødselaren der gør det. Det er en udmærket måde at slutte af på, fordi man takker de mennesker som har gjort sig umage denne aften. Samtidig vil der næsten altid komme nogle gode kommentarer fra gæsterne i løbet af aftenen, som man så kan spinde lidt videre på og lægge op til den sidste del af festen.    
                    </p>
                    
                    <h2 class="margin-top-20">Notesbogen</h2>
                    <p>
                        Jeg kender en, som altid har en lille lommebog med sig. Hver gang han hører en god historie noterer han den. Det lyder lidt besværligt og mange griner også lidt af ham, når han sidder der og noterer. Men faktisk er det en super idé. En sådan bog er guld værd for en toastmaster.                            
                    </p>
                    
                    <h2 class="margin-top-20">Kørsel</h2>
                    <p>
                        Ingen har lyst til at afslutte en god fest med en dom for spirituskørsel. Måske har du mulighed for at afhente dine gæster i din egen bil, så de kun skal bekoste en taxa den ene vej, nemlig hjem, så er der gode muligheder for en god fest.
                        Skal du selv til fest, kan du måske få din nabo til at køre dig til festen. Så kan du jo køre ham når han skal til fest.
                        På den måde har I mulighed for at varme op hjemmefra. Jeg kendte en, som havde den holdning, at hvis ikke alle i selskabet kunne huske at han var med til festen dagen efter, ja så kunne han lige så godt blive hjemme. 
                        Så konsekvent behøver man ikke være, men lidt rigtigt er der i det. 
                    </p>

                    <p>
                      <em>
                      Skal der være fest, så lad der blive fest.
                      </em>
                    </p>

                    <p>
                      <em>
                        God fornøjelse!
                      </em>
                    </p>
                  </div>
              </div>  
          </div>     
      </div>
    </div>
  </div>
    