@import 'src/sass/variables';

.remove-product-icon {
    font-size:  20px;
    &:hover {
        color: $secondary-brand-color;
    }
}


.card-img-top {
    object-fit: contain;
}

.verticalLine {
    border-right: thin solid rgba(0,0,0,.125);
}

.bestilling {
    font-size: 12px;
    text-align: start;
}

.no-rl-pad {
    padding-right: 0px;
    padding-left: 0px;
}