<section id="products-intro" class="padding-top-50 padding-bottom-50" #fullHeight>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 card-col">
                <div class="col-inner">
                    <div class="card card-height-auto border-radius-20 box-shadow">
                        <div class="card-body padding no-padding">
                            <div class="container">
                                    <div class="row">
                                        <div class="col-md-3 side-order-menu" style="padding-top: 30px !important" [class.d-flex]="stickyBot" [class.align-items-end]="stickyBot" #stickyParent>
                                            <div [class.sticky]="sticky" [class.sticky-width]=stickyBot #stickyMenu>
                                                <div *ngIf="phoneWidth == false">
                                                    <app-bestillingsliste [bestilling]="bestillingsListe" *ngIf="phoneWidth == false"></app-bestillingsliste>
                                                    <hr>
                                                </div>
                                                <app-bestillings-modal [bestilling]="bestillingsListe" [phoneMode]="phoneWidth"></app-bestillings-modal>
                                            </div>
                                        </div>
                                        <div class="col-md-9 margin-top-30">
                                            <div class="row">
                                                <div class="col">
                                                    <h2 class="product-title">Kuverttilbud</h2>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-6 margin-top-10 card-col">
                                                    <div class="col-inner">
                                                        <div class="card-height-md kuvert-card left">
                                                            <div class="image-container img-md d-flex align-items-center">
                                                                <img class="card-img-top showcase-image img-md img-fit" src="assets/Standardkuvert2.jpg" alt="Card image cap">
                                                            </div>
                                                            <div class="card-body padding no-padding">
                                                                <p class="card-title">Standardkuvert</p>
                                                                <p class="price-tag margin no-margin">DKK 7.95</p>
                                                                <form class="margin-top-10 padding-5">
                                                                    <div class="form-row">
                                                                        <div class="col-6">
                                                                            <input type="number" min="0" class="form-control"
                                                                                #standardKuvertAmount>
                                                                        </div>
                                                                        <div class="col-6 button-container">
                                                                            <button class="btn btn-primary font-size-small" tabindex="-1" (click)="onKuvertProductAdded(standardKuvertAmount.value, '998', 'Standardkuvert', 6.95)"                                                                                                

                                                                                >Tilføj
                                                                                <i class="fa fa-shopping-basket"></i></button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                                <div class="container">
                                                                    <div class="row kuvert-list padding-10 d-flex justify-content-center">
                                                                        <p><strong>Standardkuverter indeholder følgende:</strong>
                                                                            <br />1 Middagstallerken
                                                                            <br />1 Desserttallerken
                                                                            <br />1 Kniv
                                                                            <br />1 Gaffel
                                                                            <br />1 Dessertske
                                                                            <br />1 Theske
                                                                            <br />1 Kop m. underkop
                                                                            <br />1 Rødvinsglas
                                                                            <br />1 Hvidvinsglas
                                                                            <br />1 Portvinsglas
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-6 margin-top-10 card-col">
                                                    <div class="col-inner">
                                                        <div class="card-height-md kuvert-card right">
                                                            <div class="image-container img-md d-flex align-items-center">
                                                                <img class="card-img-top showcase-image img-md img-fit" src="assets/luksuskuv.png" alt="Card image cap">
                                                            </div>
                                                            <div class="card-body padding no-padding">
                                                                <p class="card-title">Luksuskuvert</p>
                                                                <p class="price-tag margin no-margin">12,95</p>
                                                                <form class="margin-top-10 padding-5">
                                                                    <div class="form-row">
                                                                        <div class="col-6">
                                                                            <input type="number" min="0" class="form-control"
                                                                                #luksusKuvertAmount>
                                                                        </div>
                                                                        <div class="col-6 button-container">
                                                                            <button class="btn btn-primary font-size-small" tabindex="-1" (click)="onKuvertProductAdded(luksusKuvertAmount.value, '999', 'Luksuskuvert', 11.95)">Tilføj
                                                                                <i class="fa fa-shopping-basket"></i></button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                                <div class="container">
                                                                    <div class="row kuvert-list padding-10 d-flex justify-content-center">
                                                                        <p><strong>Luksuskuverter indeholder følgende:</strong>
                                                                            <br />1 Middagstallerken
                                                                            <br />1 Frokosttallerken
                                                                            <br />1 Desserttallerken
                                                                            <br />2 Knive
                                                                            <br />2 Gafler
                                                                            <br />1 Dessertske
                                                                            <br />1 Teske
                                                                            <br />1 Kagegaffel 
                                                                            <br />1 Kop m. underkop
                                                                            <br />1 Champagne
                                                                            <br />1 Rødvinsglas
                                                                            <br />1 Hvidvinsglas
                                                                            <br />1 Portvinsglas
                                                                            <br />1 Cognacglas
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="container padding-bottom-60" *ngFor="let produktSerie of productSerier; index as i">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h2 class="product-title">{{produktSerie.overskrift}}</h2>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6 margin-top-10 card-col" *ngFor="let produkt of produktSerie.produkter; index as p">
                                                                    <div class="col-inner" *ngIf="produkt.billedURL == '';else img_product">
                                                                        <div class="card padding-10 card-height-md box-shadow">
                                                                            <div class="image-container img-md d-flex align-items-center justify-content-center">
                                                                                <h4 class="text-center">Intet billede tilgængeligt</h4>
                                                                            </div>
                                                                            <div class="card-body">
                                                                                <p class="card-title">{{produkt.navn}}</p>
                                                                                <p class="price-tag margin no-margin">DKK {{produkt.pris | number:
                                                                                    '1.2-2'}}</p>
                                                                                <form class="margin-top-10 padding-5">
                                                                                    <div class="form-row">
                                                                                        <div class="col-6">
                                                                                            <input type="number" class="form-control"
                                                                                                #productAmount>
                                                                                        </div>
                                                                                        <div class="col-6 button-container">
                                                                                            <button class="btn btn-primary font-size-small" tabindex="-1" (click)="onProductAdded(productAmount.value, i, p)">Tilføj
                                                                                                <i class="fa fa-shopping-basket"></i></button>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <ng-template #img_product>
                                                                        <div class="col-inner">
                                                                            <div class="padding-10 card-height-md">
                                                                                <div class="image-container img-md d-flex align-items-center">
                                                                                    <img class="card-img-top showcase-image img-md" [src]="produkt.billedURL"
                                                                                        (error)="produkt.billedURL = ''" alt="Jysk service udlejning produkt billig">
                                                                                </div>
                                                                                <div class="card-body padding no-padding">
                                                                                    <p class="card-title">{{produkt.navn}}</p>
                                                                                    <p class="price-tag margin no-margin">DKK {{produkt.pris |
                                                                                        number: '1.2-2'}}</p>
                                                                                    <form class="margin-top-10 padding-5">
                                                                                        <div class="form-row">
                                                                                            <div class="col-6">
                                                                                                <input type="number" min="0" class="form-control"
                                                                                                    #productAmount>
                                                                                            </div>
                                                                                            <div class="col-6 button-container">
                                                                                                <button class="btn btn-primary font-size-small" tabindex="-1"                                                                                                
                                                                                                    (click)="onProductAdded(productAmount.value, i, p)">Tilføj
                                                                                                    <i class="fa fa-shopping-basket"></i></button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </ng-template>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>