
.masthead .masthead-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-height: 35rem;
    height: 100%;
    background-color: rgba(0,46,102,0.8);
    -webkit-transform: skewY(4deg);
    transform: skewY(4deg);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    @media screen and (min-width: 768px) {
        min-height: 0;
        -webkit-transform: skewX(-8deg);
        transform: skewX(-8deg);
        -webkit-transform-origin: top right;
        transform-origin: top right;
    }
}

.masthead {
    position: relative;
    overflow: hidden;
    padding-bottom: 3rem;
    z-index: 2;
    @media screen and (min-width: 768px) {
        height: 900px;
        min-height: 0;
        width: 38rem;
        padding-bottom: 0;
    }
}

.masthead-content {
    padding-left: 3rem;
    padding-right: 10rem;
}

.landing-header {
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.frontpage-image {
    width: 280px;
}

.text-container {
    color: white;
    // background-color: rgba(42, 126, 243, 1);
    // border-radius: 20px;
    // padding: 10px;
    margin-top: 30px;

    & p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.2rem;
    }
}