<div class="container padding-top-20 padding-bottom-20">
  <div class="row justify-content-center">
    <div class="col-lg-9 col-md-12 col-sm-12 card-col">
        <div class="col-inner">
            <div class="card card-height-auto border-radius-20 box-shadow">
                <div class="card-body left space-around-50 jysk-text">
                  <h1 class="jysk-h1 samarbejdspartnere margin-bottom-20">Tak for din bestilling!</h1>
                  <p>Din bestilling er blevet sendt! Du vil blive kontaktet snarest muligt med et tilbud.
                    <br>Tak fordi du valgte Jysk Serviceudlejning.</p>      
                </div>
            </div>  
        </div>     
    </div>
  </div>
</div>
<div class="fill-container-200"></div>
    