<header class="margin-bottom-50 margin-top-50">
    <div class="container-fluid padding no-padding">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-6 col-lg-3 col-sm-12 card-size">
                <div class="card product-card" style="">
                    <div class="showcase-image showcase-1"></div>
                    <div class="card-body">
                        <h5 class="card-title">Slushiceicemaskine</h5>
                        <p class="card-text">399,-</p>
                    </div>
                </div>  
            </div>
            <div class="col-md-6 col-lg-3 col-sm-12 card-size">
                <div class="card product-card" style="">
                    <img class="card-img-top" src="./assets/couvertTilbud.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Slushiceicemaskine</h5>
                        <p class="card-text">399,-</p>
                    </div>
                </div>  
            </div>
            <div class="col-md-6 col-lg-3 col-sm-12 card-size">
                <div class="card product-card" style="">
                    <div class="showcase-image showcase-3"></div>
                    <div class="card-body text-center">
                        <h5 class="card-title" style="border-bottom: solid darkgray 2px;">Slushiceicemaskine</h5>
                        <p class="card-text">399,-</p>
                    </div>
                </div>  
            </div>
            <div class="col-md-6 col-lg-3 col-sm-12 card-size">
                <div class="card product-card" style="">
                    <div class="showcase-image showcase-4"></div>
                    <div class="card-body">
                        <h5 class="card-title">Slushiceicemaskine</h5>
                        <p class="card-text">399,-</p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</header>
<section class="site-landing">
    <div class="container landing-container">
        <div class="row justify-content-center">
            <div class="col-md-6 landing-background">
                <h1 class="landing-header">Lej til gæsten</h1>
                <h1 class="landing-header"> Vi har alt til festen</h1>
                <p class="landing-text">
                    Jysk Serviceudlejning udlejer borde, stole, hvidt porcelæn, stort udvalg af glas, candyfloss, popcorn maskine, termokander, karafler, duge, chokoladefontæne, pandekage og Crepepander, bryllupskageopsats, stofduge/-servietter, ismaskine, kaffemaskine, slushicemaskine, mm. Klik herfor at se det store udvalg. Du er altid velkommen til at kontakte os på mail eller telefon.
                </p>
                <p class="landing-text">
                    Skanderborg, Århus & Østjylland: <br>Jens@jyskserviceudlejning.dk eller tlf. 30256647
                </p>
                <div class="col-12 text-center">
                    <!-- <button class="btn btn-call-to-action">Se Vores Sortiment</button> -->
                </div>
            </div>
        </div>
    </div>    
</section>
