<div class="padding-bottom-20 padding-top-50">
    <section class="">
        <div class="container">
            <div class="row justify-content-center title-section-border">
                <div class="col-lg-3 col-md-4 dynamic-padding-bot">
                    <div class="col-inner">
                        <div class="card card-height-lg box-shadow product-padding align-items-center">
                            <div class="card-container">
                                <div class="showcase-image-container">
                                    <img class="card-img-top showcase-image img-lg" src="./assets/SlushIcemaskine.jpg" alt="Card image cap">
                                </div>
                                <div class="card-body frontpage-dynamic-card-title">
                                    <h5 class="card-title">Slushice-maskine</h5>
                                    <h4 class="price-tag">399,-</h4>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 text-center dynamic-padding-bot">
                    <div class="col-inner">
                        <div class="card card-height-lg space-around-50 box-shadow">
                            <h1 class="jysk-h1 frontpage">Billigt service til festen</h1>
                            <div class="row">
                                <div class="col-md-12 jysk-text frontpage">
                                    <p class="align-text-left">
                                        Jysk Serviceudlejning udlejer borde, stole, hvidt porcelæn, stort udvalg af glas, candyflossmaskine, popcornmaskine, termokander, karafler, duge, chokoladefontæne, pandekage- og crepepander, bryllupskageopsats, stofduge/-servietter, ismaskine, kaffemaskine, slushicemaskine, mm. <br>Klik <a routerLink="/bestilling">her</a> for at se det store udvalg. Du er altid velkommen til at kontakte os på mail eller telefon.
                                    </p>
                                    <p class="align-text-left">
                                        Skanderborg, Århus & Østjylland: <br><a href="mailto:Jens@jyskserviceudlejning.dk">Jens@jyskserviceudlejning.dk</a> eller tlf. <a href="tel:30256647">30256647</a>
                                    </p>
                                </div>
                            </div>
                            <div class="row button-container align-bottom">
                                <div class="col-6 text-right flex-small"> 
                                    <button type="button" class="btn btn-primary btn-md" routerLink="/bestilling">Se sortiment<i class="fa fa-chevron-right"></i></button>
                                </div>
                                <div class="col-6 text-left flex-small"> 
                                    <button type="button" class="btn btn-ghost btn-md" routerLink="/kontakt">Kontakt<i class="fa fa-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <div class="section-splitter">

    </div> -->
    <section class="margin-bottom-50 margin-top-50">
        <div class="container">
            <div class="row no-gutters justify-content-center">
                <div class="col-md-6 col-lg-3 col-sm-12 col-spacing-10">
                    <div class="col-inner">
                        <a class="box-link" routerLink="/kontakt">
                            <div class="card text-center card-header box-shadow">
                                <div class="h-100 d-flex align-items-center">    
                                    <h4 class="box-link-text">Kontakt Jysk Serviceudlejning og få et uforpligtende tilbud til din fest!</h4>
                                </div>
                            </div>  
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-12 col-spacing-10">
                    <div class="col-inner">
                        <div class="card box-shadow">
                            <div class="image-container img-md">
                                <img class="card-img-top padding-bottom-5 showcase-image img-md img-fit" src="./assets/Standardkuvert.jpg" alt="Card image cap">
                            </div>
                            <div class="card-body frontpage-dynamic-card-title">
                                <h5 class="card-title">Couverttilbud</h5>
                                <h4 class="price-tag">7,95,-</h4>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-12 col-spacing-10">
                    <div class="col-inner">
                        <div class="card box-shadow">
                            <div class="image-container img-md">
                                <img class="card-img-top showcase-image img-md" src="./assets/candyfloss.JPG" alt="Card image cap">
                            </div>
                            <div class="card-body frontpage-dynamic-card-title">
                                <h5 class="card-title">Candyfloss-maskine</h5>
                                <h4 class="price-tag">199,-</h4>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-12 col-spacing-10">
                    <div class="col-inner">
                        <div class="card box-shadow">
                            <div class="image-container img-md">
                                <img class="card-img-top showcase-image img-md" src="./assets/Borde,76x180cm.jpg" alt="Card image cap">
                            </div>
                            <div class="card-text-small">
                                <p>
                                    Udlejning af borde, stole, chokoladefontæne, slushice, candyfloss, popcornmaskine mm. 
                                    <br><a routerLink="/bestilling">- se mere her!</a>
                                </p>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>