@import '../../sass/variables';

#site-landing {
    //background-color: #070853;
    background-size: cover;
    padding: 150px 0px;
    //height: 600px;
}

.landing-header {
    //color: #495057;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 2px;
    &-second {
        font-size: 20px;
        font-family: Merriweather;
        //color: #495057;
    }
}

.landing-text {
    //color: white;
    text-align: left;
    font-family: Merriweather;
    font-size: 14px;
    line-height: 28px;
}



.landing-background {
    //background-color:  #070853;
    min-width: 300px;
    padding: 15px;
}

section#call-to-action {
    //padding: 60px;
}

.primary-background {
    background-color:  $primary-brand-color;
    padding-top: 20px;
    padding-bottom: 20px;
}

.break-line-info {
    background-color: rgba($color: rgba(86, 83, 255, 0.315), $alpha: 0.2);
    height: 300px;
}

.btn.btn-call-to-action {
    min-width: 350px;
    height: 75px;
    border-radius: 40px;
    font-size: 40px;
    // background-color: rgb(184, 0, 0);
    // color: black;
    font-weight: bold;
}

//Cards
.card {
    border-radius: 20px;
    overflow: hidden;
    height: 320px;
    &.card-height {
        &-lg {
            height:550px;
        }
    }
}

.product-padding {
    padding: 45px 5px 45px 5px;
}

.card-col {
    padding: 0px 10px 0px 10px;
    &:first-child {
        padding: 0px 20px 0px 0px;
    }
    &:last-child {
        padding: 0px 0px 0px 20px;
    }
}

.showcase-image {
    object-fit: contain;
    width: 100%;
    padding: 5px;
    &.img-lg {
        max-height: 600px;
    }
    &.img-md {
        max-height: 200px;
    }
    &.img-fit {
        object-fit: cover;
        padding: 0px;
    }
}

.image-container {
    &.img-lg {
        height: 600px;
    }
    &.img-md {
        height: 200px;
    }

}

.card-title {
    border-bottom: solid darkgray 2px;
    margin-bottom: 5px;
}

.card-body {
    text-align: center !important;
    padding: 20px 20px 0px 20px;
    &.left {
        text-align: left !important;
    }
}

.price-tag {
    font-weight: bold;
    font-size: 40px !important;
}

#call-to-action-buttons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.button-container {
    margin-left: 15px;
    margin-right: 15px;
}

.title-section-border {
    border-bottom: 0.25rem solid #c1c5ca;
}

.card-header {
    font-family: Merriweather;
    & h4 {
        line-height: 40px;
        font-weight: bold;
    }
}

.card-container {
    vertical-align: middle !important;
}

a:hover, a:visited, a:link, a:active {
    &.box-link {
        text-decoration: none;
    }
}

.box-link {
    & .card:hover {
        border: solid $light-brand-color 3px;
        & .box-link-text {
            color: $light-brand-color;
        }
    }
}

.box-link-text {
    color: #212529;
}

p {
    font-family: Merriweather;
}

.card-text-small {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
}

