<div class="container padding-top-20 padding-bottom-20">
    <div class="row justify-content-center">
      <div class="col-md-9 card-col">
          <div class="col-inner">
              <div class="card card-height-auto border-radius-20 box-shadow">
                  <div class="card-body left space-around-50 jysk-text">
                    <h1 class="jysk-h1 margin-bottom-20">Lejebetingelser</h1>
                  
                    <h2 class="margin-top-20">Opvask</h2>
                    <p>
                        Servicet returneres i rengjort stand. Glas skal vaskes af i hånden. Glassene SKAL tørres med et viskestykke, så de er helt tørre for vand, da der ellers kommer kalkpletter og render på glassene. Tjek ALTID glassene for pletter op mod lyset, da det kan være svært at se kalkpletter i dårligt lys. Ikke/utilstrækkeligt rengjort service vil blive opvasket for lejers regning. Slushice maskinen rengøres ved at køre maskinen igennem med varmt sæbevand og derefter efterskyldes med rent vand. Maskinen må ikke skilles ad..
                    </p>

                    <hr class="margin-top-30 margin-bottom-30">
                    
                    <h2 class="margin-top-20">Ordrebekræftelse</h2>
                    <p>
                        Når din bestilling er modtaget og godkendt fremsendes en ordrebekræftelse på de bestilte varer. Det er kundes ansvar at tjekke at ordrebekræftelsen stemmer overens med det ønskede.  
                    </p>

                    <hr class="margin-top-30 margin-bottom-30">
                    
                    <h2 class="margin-top-20">Lejeperiode</h2>
                    <p>
                        Af praktiske årsager er udlejningsperioden sat til 2-3 dage, dog er reglen, at varer der skal bruges i weekenden, afhentes torsdag/fredag og tilbage leveres mandag. I højsæsonen kan lejeperioden dog være kortere. Hvis ikke andet er aftalt, betragtes det lejede som udlejet i hele den periode, det beror hos kunden. Hvis udlejer ikke modtager det lejede materiale retur rettidig, kan ekstra leje opkræves.
                        Afhentning og tilbagelevering på hverdage kan som udgangspunkt kun foregår efter kl. 16, med mindre andet er aftalt.
                    </p>

                    <hr class="margin-top-30 margin-bottom-30">
                    
                    <h2 class="margin-top-20">Betaling</h2>
                    <p>
                        Er netto kontant ved modtagelse af den udlejede service, hvis andet ikke er aftalt. 
                    </p>

                    <hr class="margin-top-30 margin-bottom-30">
                    
                    <h2 class="margin-top-20">Stole og borde</h2>
                    <p>
                        Stole og borde må ikke anvendes på græsplæne, grus eller andre bløde underlag. Der skal hårdt/fast gulv under.
                    </p>

                    <hr class="margin-top-30 margin-bottom-30">
                    
                    <h2 class="margin-top-20">Slushice</h2>
                    <p>
                        Der betales 500 i depositum ved modtagelse af slushicemaskinen. Prisen på maskinen er betinget af at der købes saftkoncentrat. Ønskes maskinen uden saftkoncentrat tillægges en pris på 100 kr. pr døgn. Der må dog kun komme særligt egnet slushice koncentrat i maskinen og ikke almindelig saft, da maskinen kan tage skade. Ved misligholdelse er lejer ansvarlig for erstatning/reparation af maskinen. Slush ice maskiner må IKKE transporters i trailere, da der ikke er affjedring. 
                    </p>

                    <hr class="margin-top-30 margin-bottom-30">
                    
                    <h2 class="margin-top-20">Lejers ansvar</h2>
                    <p>
                        Lejer modtager det lejede i god og forsvarlig stand, og er forpligtet til ved lejemålets ophør at aflevere det i samme stand som ved modtagelsen. Eventuelle reklamationer skal, ske omgående og før servicet tages i brug. Uden for telefontid indtales besked på telefonsvarer. I modsat fald betragtes leveringen som fejlfri. 
                        Det lejede skal opbevares tørt og forsvarligt (inkl. emballage). Evt. manglende eller ødelagte varer afregnes efterfølgende. Manglende eller beskadiget service erstattes af lejeren til gældende dagspris. Hvis ikke andet er aftalt skal alt service tilbageleveres rengjorte i den emballage, det blev leveret i. Lejer er selv ansvarlig for skade sket, som følge af brugen af det lejede materiel. Det anbefales at benytte filt-dupper ved brug af stole på trægulv.
                    </p>

                    <hr class="margin-top-30 margin-bottom-30">
                    
                    <h2 class="margin-top-20">Duge</h2>
                    <p>
                        Duge og stofservietter leveres nyvaskede og rullede, direkte fra et professionelt damvaskeri. Efter de har brugt det lejede dækketøj, returneres det i brugt stand. Der tages et vaskegebyr på 50 kr. pr. ordre med duge eller stofservietter. Målene på dugene er cirkamål og dugene kan derfor variere i længde og brede.
                    </p>

                    <hr class="margin-top-30 margin-bottom-30">
                    
                    <h2 class="margin-top-20">Transport og afhentning</h2>
                    <p>
                        Transportens pris afhænger af afstand. Servicet leveres max. 20 m fra bil i jordplan, med mindre andet er aftalt på ordrebekræftelse. Afhentning og returnering af lejer selv skal ske i lukket vogn/trailer, og er for lejers egen risiko. 
                        Afhentning og tilbagelevering på hverdage kan som udgangspunkt kun foregår efter kl. 16, med mindre andet er aftalt.
                        Afhentning og tilbagelevering skal ske på adressen Bragesvej 6, 8660 Skanderborg
                    </p>

                    <hr class="margin-top-30 margin-bottom-30">
                    
                    <h2 class="margin-top-20">Ændringer og annulleringer af bestilling</h2>
                    <p>
                        Ændringer bedes foretaget i god tid og senest 8 dage før leveringsdagen. Ændringer sker under forbehold for disponible varer. Hvis en ordre annulleres senere end 8 dage før arrangementet er Jysk Serviceudlejning berettiget til at opkræve 50% af lejesummen, da servicet ellers kunne være udlejet til anden side. 
                    </p>

                    <hr class="margin-top-30 margin-bottom-30">
                    
                    <h2 class="margin-top-20">Ekspeditionsgebyr</h2>
                    <p>
                        Der tages et ekspeditionsgebyr på 62,50 kr, for alle ordre.
                    </p>

                  </div>
              </div>  
          </div>     
      </div>
    </div>
  </div>
    