<div class="container padding-top-20 padding-bottom-20">
  <div class="row justify-content-center">
    <div class="col-md-9 card-col">
        <div class="col-inner">
            <div class="card card-height-auto border-radius-20 box-shadow">
                <div class="card-body left space-around-50 jysk-text">
                  <h1 class="jysk-h1 margin-bottom-20">Hvem er vi?</h1>
                  <p>
                      Jysk serviceudlejning leverer service til alle dine fester eksempelvis reception, barnedåb, fødselsdag, konfirmation, bryllup, firmafest, Jubilæum, familiefest, møder, konferencer.                   </p>
                  <p>
                      Hos Jysk Serviceudlejning ønsker vi at give vores kunder en god oplevelse og assistance hver gang. Det er vigtigt at kunderne føler sig trygge når servicet lejes hos os - for uden tryghed er det ikke muligt at få en god fest. Derfor er pålidelighed en vigtig faktor for os og kunderne kan således trygt og roligt regne med de aftaler, der laves med Jysk Serviceudlejning. Jysk Serviceudlejning har både privat- og erhvervskunder. Ingen kunde er for lille og alle behandles med samme serviceniveau. Vi gør meget ud af at servicet er rent og pænt ved modtagelse, så det kan sættes direkte på bordet.                  </p>
                  <p>
                      Pt. servicerer vi det meste af Østjylland særligt i området omkring Skanderborg, Århus, Horsens og Vejle. Vi arbejder på at udvide med flere afdelinger så flere festglade jyder kan få positive oplevelser med Jysk Serviceudlejning.                   </p>
                  <p>
                      Deres mening betyder meget for os, så De kan til enhver tid kontakte os med spørgsmål, kommentarer eller ris/ros – mail, skriv eller ring til os.                   </p>
                  <p>
                      Vi håber I får en god oplevelse ved at leje servicet hos os!                  
                  </p>
                </div>
            </div>  
        </div>     
    </div>
  </div>
</div>
  