<div class="container padding-top-20 padding-bottom-20">
  <div class="row">
    <div class="col-md-8 col- card-col">
        <div class="col-inner">
            <div class="card box-shadow">
                <div class="card-body left padding-50">
                  <p>
                    Jysk serviceudlejning leverer service til alle dine fester eksempelvis reception, barnedåb, fødselsdag, konfirmation, bryllup, firmafest, Jubilæum, familiefest, møder, konferencer. 
                  </p>
                  <p>
                    Hos Jysk Serviceudlejning ønsker vi at give vores kunder en god oplevelse og assistance hver gang. Det er vigtigt at kunderne føler sig trygge når servicet lejes hos os - for uden tryghed er det ikke muligt at få en god fest. Derfor er pålidelighed en vigtig faktor for os og kunderne kan således trygt og roligt regne med de aftaler, der laves med Jysk Serviceudlejning. Jysk Serviceudlejning har både privat- og erhvervskunder. Ingen kunde er for lille eller for stor og alle behandles med samme serviceniveau.
                  </p>
                  <p>
                    For at kunne bidrage med den bedste hjælp til festen, har vi indgået flere samarbejdsaftaler - for eksempel er det muligt for vores kunder let at finde en god leverandør af gastronomiske madoplevelser til festen. Her kan bl.a. nævnes samarbejdet med Restaurant Skovmøllen og Gastronome Lebeck 
                  </p>
                  <p>
                    Jysk Serviceudlejning har afdelinger flere steder i Jylland. Pt. servicerer vi Nordjylland med en afdeling i Aalborg, Østjylland med en afdeling i Skanderborg, Århus og Horsens. Vi arbejder på at udvide med flere afdelinger så flere festglade jyder kan få positive oplevelser med Jysk Serviceudlejning. 
                  </p>
                  <p>
                    Deres mening betyder meget for os, så De kan til enhver tid kontakte os med spørgsmål, kommentarer eller ris/ros – mail, skriv eller ring til os. 
                  </p>
                  <p>
                    Vi håber I får en god oplevelse ved at leje servicet hos os!
                  </p>
                </div>
            </div>  
        </div>     
    </div>
  </div>
</div>
  